
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="C:/Users/moka0/clipse-workspace/music_sk/src/main/resources/css/common_list.css"
	rel="stylesheet">
</link>
</head>
<body>
	<form id="frm" name="frm">
		<div class="service_list_song type02 d_song_list">
			<h3 class="none"></h3>

			<table border="1" style="width: 100%">

				<colgroup>
					<col style="width: 15px">
					<!-- checkbox -->
					<col style="width: 62px">
					<!-- 순서 & 순위 -->
					<col style="width: 50px">
					<!-- 순위등락 -->
					<col style="width: 60px">
					<!-- 앨범이미지 -->
					<col style="width: 24px">
					<!-- 곡 상세가기 -->
					<col>
					<!-- 곡정보 -->
					<col style="width: 190px">
					<!-- 앨범 -->
					<col style="width: 111px">
					<!-- 좋아요 -->
					<col style="width: 58px">
					<!-- 듣기 -->
					<col style="width: 52px">
					<!-- 담기 -->
					<col style="width: 52px">
					<!-- 다운 -->
					<col style="width: 52px">
					<!-- 뮤비 -->
				</colgroup>



				<thead>




					<tr>
						<th scope="col">
							<div class="wrap t_center">
								<span class="rank">순위</span>
							</div>
						</th>
						<th scope="col">
							<div class="wrap t_center">
								<span class="artist">아티스트</span>
							</div>
						</th>
						<th scope="col">
							<div class="wrap pd_l_12">곡명</div>
						</th>
						<th scope="col">
							<div class="wrap pd_l_12">앨범</div>
						</th>
						<th scope="col">
							<div class="wrap none">앨범이미지</div>
						</th>
						<th scope="col">
							<div class="link_youtube">유튜브링크</div>
						</th>

					</tr>
				</thead>
				<tbody>

					<tr class="lst50" id="lst50" data-song-no="36356993">

						<td><div class="wrap t_center">
								<span class="rank ">1</span><span class="none">위</span>
						</div></td>

						<td><div class="wrap">
								<a href="javascript:melon.link.goAlbumDetail('11211297');"
									title="I&#39;ve IVE" class="image_typeAll"> <img
									onerror="WEBPOCIMG.defaultAlbumImg(this);" width="60"
									height="60"
									src="https://cdnimg.melon.co.kr/cm2/album/images/112/11/297/11211297_20230410151046_500.jpg/melon/resize/120/quality/80/optimize"
									alt="I&#39;ve IVE - 페이지 이동" /> <span class="bg_album_frame"></span>
								</a>
							</div></td>

						<td><div class="wrap">
								<div class="wrap_song_info">
									<div class="ellipsis rank01">
										<span> <a
											href="javascript:melon.play.playSong('1000002721',36356993);"
											title="I AM 재생">I AM</a>
										</span>
									</div>
									<br>

								</div>
							</div></td>
						<td>
							<div class="wrap">
								<div class="wrap_song_info">
									<div class="ellipsis rank03">
										<a href="javascript:melon.link.goAlbumDetail('11211297');"
											title="I&#39;ve IVE - 페이지 이동">I&#39;ve IVE</a>
									</div>
								</div>
								<div class="ellipsis rank02">
									<a href="javascript:melon.link.goArtistDetail('3055146');"
										title="IVE (아이브) - 페이지 이동">IVE (아이브)</a><span
										class="checkEllipsis" style="display: none"><a
										href="javascript:melon.link.goArtistDetail('3055146');"
										title="IVE (아이브) - 페이지 이동">IVE (아이브)</a></span>
								</div>
							</div>
						</td>
					</tr>
</body>
</html>