<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team1.mapper.MusicUserMapper">
	
	<!-- 회원 등록 -->
	<insert id="join" parameterType="com.team1.domain.MusicUsers">
		INSERT INTO music_users ( user_no, user_id, user_pw, name, gender, age)
		VALUES ( SEQ_USER.nextval, #{userId}, #{userPw}, #{name}, #{gender}, #{age})
	</insert>
	
	
	<!-- 권한 등록 -->
	<insert id="insertAuth">
		INSERT INTO music_user_auth ( auth_no, user_id, auth )
		VALUES ( SEQ_USER_AUTH.nextval, #{userId}, #{auth} )
	</insert>
	
	<!-- 아이디 중복 확인 -->
    <select id="checkUserId" resultType="int">
        SELECT COUNT(*) FROM music_users WHERE user_id = #{userId}
    </select>
</mapper>