<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.human.mapper.MusicRankMapper">

	<!-- id : 연결될 메소드 명을 작성 -->
	<!-- resultType : 조회 결과를 매핑할 클래스 타입 (패키지경로+클래스명) -->
	<!-- 			  mybatis-cofig.xml 설정파일에서 설정한 별칭이 있으면 별칭으로 작성가능 -->
	
	<!-- 게시글 목록 -->
	<select id="list" resultType="MusicRank">
		SELECT *
		FROM Genre
	</select>
	
	</mapper>