<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.team.mapper.WomanGenerationMapper">
	<select id="list" resultType="WomanGeneration">
	SELECT * 
	FROM Woman_Generation 
	ORDER BY dbms_random.value() fetch first 6 rows only
	</select>
	
	<select id="selectMusicByWomanGeneration" resultType="WomanGeneration">
	SELECT * FROM Woman_Generation
	WHERE GENERATION = #{generation}
	ORDER BY dbms_random.value() fetch first 6 rows only
	</select>
</mapper>