<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>학생 등록</title>
</head>
<body>
	<h2>학생 등록</h2>
	<form action="/index" method="post" enctype="multipart/form-data">
		<input type="text" name="userId" placeholder="아이디" /> <br>
		<input type="text" name="userPw" placeholder="이름" /> <br>
		<input type="number" name="phon" placeholder="python 점수" /> <br>
		<input type="number" name="old" placeholder="spark 점수" /> <br>
		<input type="number" name="addr" placeholder="r 점수" /> <br>
		<button type="submit">등록</button>
	</form>	
	
</body>
</html>